<div>
    <section class="bg-color3" id="documentation">
        <div class="faq-wrapper inner-spacing">
            <div class="container">
                <h2 class="heading-2 inner-bottom-spacing">About the website</h2>
                <p>Bastar has endured decades of violence, state repression, and human rights violations, marked by brutal actions including extrajudicial killings, arbitrary detentions, torture, and severe suppression of dissent. The situation has only worsened recently. Despite the gravity and persistence of these violations, information about these incidents remains scattered and fragmented, making it difficult to access and understand the full extent of the ongoing crisis.</p>
                <p>This platform seeks to address this gap by consolidating publicly available information, reports, legal documents, news coverage, statements, and multimedia resources in one place. By creating a centralized and comprehensive archive, we aim to ensure that the truth about Bastar’s ongoing human rights crisis is accessible to all, while also providing timely updates on the ground situation.</p>
<!--                 <p>We have categorized the documents, which we hope will make it easier to find relevant information. The content is organized based on the nature of violations, time periods, and types of documentation.</p> -->
            </div>
        </div>
    </section>
<!--     {% for section in site.data.sections %}
        <section class="bg-color3" id="{{section.id}}">
            <div class="faq-wrapper bottom-spacing">
                <div class="container">
                    <div class="section-title">
                        <h3 class="heading-3">{{section.title}}</h3>
                    </div>
                    <div class="row">
                        {% for category in section.categories %}
                            <div class="col-md-4">
                                <article class="faq-service bg-color1">
                                    <footer class="faq-content">
                                        <h5 class="heading-5">{{category.title}}</h5>
                                        <p>{{category.subtitle}} </p>
                                    </footer>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %} -->
</div>
