<div>
    <section class="bg-color1">
        <div class="faq-wrapper inner-spacing">
            <div class="container">
                <h2 class="heading-2 inner-bottom-spacing">About the campaign</h2>
                <p>The Campaign for Peace and Justice in Chhattisgarh (CPJC) was established in November 2006 as a collective of groups and individuals responding to grave human rights violations in Chhattisgarh. It emerged in opposition to the state-backed Salwa Judum, a vigilante force that escalated violence and plunged the region into a state of conflict. Although Salwa Judum was eventually banned, state-led military operations did not cease; rather, they evolved into more institutionalized and legalized forms of violence. Similar tactics of Salwa Judum persist, with current operations escalating atrocities under the government’s declaration to “finish the insurgency” within the next year. This ongoing repression has now reached a tipping point, where the very survival of Adivasi communities in Bastar is at stake.</p>
                <p>The region, encompassing Bastar, Dantewada, Sukma, Bijapur, Kanker, Narayanpur, and Kondagaon, remains at the center of severe state violence and suppression of civil liberties. All forms of local resistance are being systematically crushed—from arrests and extrajudicial killings to the banning of democratic and peaceful organizations like the Moolwasi Bachao Manch. The State’s brutal assault on its own people continues with impunity, while the silence of the mainstream media and the rest of the country enables further repression.</p>
                <p>As citizens of this country, we believe it is our responsibility to bring attention to these injustices. Through this campaign, we aim to amplify local voices, expose daily human rights violations, and create a comprehensive archive of the ongoing situation.</p>
                <p>Join Us</p>
                <p>If you share our concerns and wish to support the campaign, reach out to us at cpjchhattisgarh@gmail.com.</p>
            </div>
        </div>
    </section>
</div>