<!-- Start Slider  Area -->
<section class="slider-area bg-cover1">
    <div class="slider-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                     <div class="slider-carousel owl-carousel">
                      <div class="slider-content wow fadeIn" data-wow-duration="3s">
                        <h1 class="heading-1">{{site.title}}</h1>
                      </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider Area -->


 